div:hover>div {
    display: block;
}

#main-content {
    margin-left: 50px;
    /* same width as the sidebar */
}

.menu-button {
    cursor: pointer;
}

.pop-up-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.pop-up-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pop-up-menu li {
    border-bottom: 1px solid #eee;
}

.pop-up-menu a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.pop-up-menu a:hover {
    background-color: #f1f1f1;
}

body {
    background-color: black;
}

#toggleMenu {
    display: none;
    background-color: lightblue;
    color: #fff;
    padding: 10px;
}

@media only screen and (max-width: 400px) {
    body {
        background-color: lightblue;
    }
}

#grunge-bands {
    transition: height 0.5s;
}